  
    
    
    <!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="footer_section_2">
        <div class="container">
            <div class="row map_addres">
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><img src="~/FitnessContent/Image/map-icon.png"><span class="map_icon">New Panjara Koradi,Nagpur 441111</span></div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><img src="~/FitnessContent/Image/phone-icon.png"><span class="map_icon">( +91 9604948030 )</span></div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><img src="~/FitnessContent/Image/email-icon.png"><span class="map_icon">narwadeakash.2108@gmail.com</span></div>
                </div>
            </div>
            <div class="social_icon">
                <ul>
                    <li><a href="#"><img src="~/FitnessContent/Image/fb-icon.png"></a></li>
                    <li><a href="#"><img src="~/FitnessContent/Image/twitter-icon.png"></a></li>
                    <li><a href="#"><img src="~/FitnessContent/Image/in-icon.png"></a></li>
                    <li><a href="#"><img src="~/FitnessContent/Image/instagram-icon.png"></a></li>
                </ul>
            </div>
            <p class="copyright_text">Copyright 2019 All Right Reserved By.<a href="https://html.design"/> NAH FITNESS</p>
        </div>
    </div>
</div>
<!-- footer section end -->
