@{ 
    ViewBag.Title = "Index";
    Layout = ("~/Views/Shared/_Layout.cshtml");
}




<body>
    @{Html.RenderPartial("_BannerSection");
    }


    @{Html.RenderPartial("_JavaScriptSection");
    }




</body>