@{
    ViewBag.Title = "About";
    Layout = ("~/Views/Shared/_Layout.cshtml");
}

<body>
    @{Html.RenderPartial("_OurServiceSection");
    }
    @{Html.RenderPartial("_ProjectSection");
    }

</body>